@charset 'utf-8';
/* Slide */
.slider {
  position: relative;
  width: 100%;
  height: 500px;
  margin-top: 80px;
  overflow: hidden;
}
.slides {
  display: flex;
  width: 100%;
  height: 100%;
  transition: transform 0.6s ease;
}
.slide {
  min-width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  padding: 0 120px;
  position: relative;
}
.slide1 {
  background: #ccc;
}
.slide2 {
  background: #aaa;
}
.slide3 {
  background: #bbb;
}
.slide_content {
  max-width: 500px;
  z-index: 2;
}
.slide_tag {
  color: var(--ts);
  font-size: 1.4rem;
  margin-bottom: 12px;
  font-weight: 500;
}
.slide_title {
  font-size: 3.8rem;
  font-weight: 700;
  margin-bottom: 20px;
  line-height: 1.3;
}
.slide_description {
  color: var(--ts);
  margin-bottom: 30px;
}
/*  */
.controls {
  position: absolute;
  bottom: 30px;
  right: 40px;
  display: flex;
  align-items: center;
  gap: 6px;
  padding: 4px 10px;
  background: rgba(0, 0, 0, 0.5);
  border-radius: 30px;
}
.arrow {
  color: white;
  font-size: 1.3rem;
  transition: opacity 0.3s;
  cursor: pointer;
}
.counter {
  color: white;
  font-size: 1.3rem;
  font-weight: 500;
  min-width: 40px;
  text-align: center;
}
.play-pause {
  color: white;
  font-size: 1.6rem;
  cursor: pointer;
  padding: 5px;
  margin-left: 10px;
  transition: opacity 0.3s;
}
.arrow:hover,
.play-pause:hover {
  opacity: 0.7;
}