@charset 'utf-8';

.about_row {
  display: grid;
  grid-template-columns: 1fr 1fr;
  align-items: center;
  gap: 48px;
  padding: 48px;
}
.about_row img {
  width: 100%;
  height: 420px;
  border-radius: 12px;
}
.info_list li {
  margin: 10px 0;
  display: flex;
  gap: 10px;
  align-items: flex-start;
}
.info_list li span {
  min-width: 86px;
}
@media (max-width: 1024px) {
  .about_row {
    grid-template-columns: 1fr 1fr;
    padding: 36px;
  }
  .about_row img {
    height: 380px;
  }
}
@media (max-width: 768px) {
  .about_row {
    grid-template-columns: 1fr;
    gap: 20px;
  }
  .about_left {
    height: 320px;
  }
}
/* about_icon */
.about_icon {
  text-align: center;
  padding: 40px 0;
}
.about_icon_inner {
  display: grid;
  grid-template-columns: repeat(3, 1fr); 
  gap: 30px;
  margin: 40px auto;
  max-width: 1200px;
}
.icon_item {
  border-radius: 8px;
  padding: 40px 20px;
  border: 1px solid #ccc;
  box-shadow: 0 1px 4px rgba(0, 0, 0, 0.06);
  transition: 0.3s;
  background: #fff;
}
.icon_item:hover {
  transform: translateY(-5px);
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.10);
}
.icon_item img {
  width: 60px; height: 60px;
  margin-bottom: 16px;
}
@media (max-width: 768px) {
  .about_icon_inner {
    grid-template-columns: repeat(2, 1fr);
  }
}
@media (max-width: 380px) {
  .about_icon_inner {
    grid-template-columns: repeat(1, 1fr);
  }
}