@charset 'utf-8';
#company_history_wrap {
  display: flex;
}
.history_left,
.history_right {
  flex: 1;
}
.history_right > div {
  border-bottom: 1px solid #ccc;
  padding: 25px 0;
}
.accordion_btn {
  width: 100%;
  display: flex;
  justify-content: space-between;
  text-align: left;
  cursor: pointer;
}
.accordion_btn strong {
  font-size: 2rem;
  font-weight: 600;
}
.accordion_btn p {
  color: var(--ts);
  margin-top: 5px;
}
.acc_icon {
  font-size: 2rem;
  font-weight: 300;
}
.accordion_content {
  display: none;
  padding-top: 20px;
}
.accordion_content.open {
  display: block;
}
.accordion_content ul li {
  padding: 8px;
}
@media (max-width: 1024px) {
  #company_history_wrap {
    flex-direction: column;
  }
}
@media (max-width: 768px) {
  .history_title {
    font-size: 2.2rem;
  }
}
@media (max-width: 380px) {
  .history_title {
    font-size: 1.9rem;
  }
}