@charset 'utf-8';
.form_wrap {
  max-width: 1000px;
  margin: 0 auto;
}
.form_wrap .container {
  align-items: flex-end;
  margin-top: 10px;
  border-bottom: 2px solid var(--tm);
}
form {
  margin-top: 20px;
}
.form_row {
  display: flex;
  align-items: center;
  padding: 16px 0;
  margin-bottom: 10px;
  border-bottom: 1px solid #ddd;
}
.form_label {
  width: 180px;
}
.form_field {
  flex: 1;
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  gap: 16px;
}
.form_field > input {
  width: 100%;
  padding: 12px 14px;
  border-bottom: 1px solid var(--bs);
}
.form_field label {
  cursor: pointer;
}
.form_row textarea {
  width: 100%; height: 140px;
  padding: 15px;
  border: 1px solid var(--bs);
  border-radius: 12px;
  resize: none;
}
.privacy {
  padding: 15px;
  border-radius: 6px;
  font-size: 1.2rem;
  background: var(--bm);
  margin-bottom: 20px;
}
@media (max-width: 1024px) {
  .form_row label {
    width: 150px;
  }
  .form_field label {
    font-size: 1.2rem;
  }
}
@media (max-width: 768px) {
  .form_row {
    flex-direction: column;
    gap: 10px;
  }
  .form_row label {
    width: 100%;
  }
  .form_field {
    width: 100%;
  }
}