@charset 'utf-8';
#footer {
  background: #111;
  color: #fff;
  padding: 80px 0;
  font-size: 1.3rem;
  margin-top: 80px;
}
#footer .inner {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  max-width: 1400px;
  margin: 0 auto;
  padding: 0 16px;
}
/* footer left */
.footer_left {
  flex: 1 1 45%;
  min-width: 320px;
}
.logo {
  width: 120px;
}
.menu {
  display: flex;
  gap: 25px;
  margin: 20px 0;
}
.menu a {
  color: #fff;
}
.menu a:hover {
  text-decoration: underline;
}
/* footer info */
.info {
  font-style: normal;
  line-height: 1.7;
  margin-bottom: 16px;
  color: #aaa;
}
/* SNS link */
.copy,
.sns_link a {
  color: #aaa;
  margin: 8px 0;
}
.info_cs,
.sns_link a,
.sns_link i {
  font-size: 1.7rem;
  margin-right: 8px;
}
/* footer right form */
.footer_right {
  flex: 1 1 45%;
  min-width: 320px;
}
.msg {
  font-size: 1.8rem;
  margin-bottom: 25px;
}
.footer_form {
  display: flex;
  flex-direction: column;
  gap: 15px;
}
.footer_row {
  display: flex;
  gap: 15px;
}
.footer_form input,
.footer_form textarea {
  width: 98%;
  padding: 8px;
  background: none;
  border: none;
  outline: none;
  color: #fff;
  border-bottom: 1px solid #777;
}
.footer_form textarea {
  height: 100px;
  padding: 8px;
  resize: none;
}
/* 반응형 */
@media (max-width: 1024px) {
  #footer .inner {
    width: 90%;
    flex-direction: column-reverse;
    gap: 60px;
  }
}