@charset 'utf-8';
/* header */
#header {
  position: fixed;
  top: 0;
  left: 50%;
  transform: translateX(-50%);
  width: 100%;
  background: #fff;
  box-shadow: 0 2px 10px rgba(0, 0, 0, .1);
  transition: .4s;
  z-index: 9000;
}
#header.active {
  top: 20px;
  width: 80%;
  border-radius: 30px;
}
#header .inner {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 24px 40px;
}
/* logo */
#logo img {
  width: 120px;
}
/* main menu */
.main {
  display: flex;
  gap: 16px;
}
.main>li {
  position: relative;
}
.main>li>a {
  padding: 8px 16px;
  border-radius: 20px;
  transition: 0.2s;
}
.main>li:hover>a {
  background: var(--tm);
  color: #fff;
}
/* sub menu */
.main>li:hover .sub {
  opacity: 1;
  visibility: visible;
  transform: translateY(0);
}
.sub {
  position: absolute;
  top: 40px;
  left: 0;
  width: 150px;
  padding: 16px 0;
  border-radius: 12px;
  background: #fff;
  box-shadow: 0 5px 20px rgba(0, 0, 0, 0.15);
  opacity: 0;
  visibility: hidden;
  transform: translateY(10px);
  transition: 0.25s;
}
.sub li a {
  display: block;
  padding: 10px 16px;
  color: var(--ts);
  font-size: 1.5rem;
}
.sub li a:hover {
  color: var(--tm);
  background: var(--bm);
}
/* user menu */
.user_menu {
  display: flex;
  gap: 24px;
  font-size: 1.4rem;
}
.user_menu a:hover {
  text-decoration: underline;
}
/* mobile btn */
#mobile_btn {
  position: absolute;
  right: 24px;
  top: 50%;
  transform: translateY(-50%);
  width: 28px;
  height: 22px;
  display: none;
  cursor: pointer;
  z-index: 10001;
}
#mobile_btn span {
  position: absolute;
  left: 0;
  width: 100%;
  height: 3px;
  background: #000;
  border-radius: 3px;
  transition: 0.3s ease;
}
#mobile_btn span:nth-child(1) {
  top: 0;
}
#mobile_btn span:nth-child(2) {
  top: 50%;
  transform: translateY(-50%);
}
#mobile_btn span:nth-child(3) {
  bottom: 0;
}
#mobile_btn.active span:nth-child(1) {
  top: 50%;
  transform: translateY(-50%) rotate(45deg);
}
#mobile_btn.active span:nth-child(2) {
  opacity: 0;
}
#mobile_btn.active span:nth-child(3) {
  bottom: auto;
  top: 50%;
  transform: translateY(-50%) rotate(-45deg);
}
/* mobile menu */
#mobile_gnb {
  position: fixed;
  top: 72px;
  right: -100%;
  width: 100%;
  height: 100vh;
  background: #fff;
  padding: 40px;
  transition: right 0.4s ease;
  z-index: 9000;
}
#mobile_gnb.open {
  right: 0;
}
/* mobile user menu */
.mobile_user_menu {
  display: flex;
  gap: 16px;
  font-size: 1.2rem;
  padding-bottom: 20px;
  margin-bottom: 20px;
  border-bottom: 1px solid #eee;
}
/* mobile main menu */
.mobile_main_menu {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 96%;
  padding: 6px;
  font-size: 1.4rem;
  border-radius: 8px;
  transition: 0.2s;
  cursor: pointer;
}
.mobile_main_menu.active {
  border-bottom: 1px solid var(--bm);
}
.toggle_icon {
  font-weight: 300;
}
/* mobile sub menu */
.mobile_sub {
  padding-left: 15px;
  background: var(--bs);
  border-radius: 8px;
  margin-top: 6px;
  max-height: 0;
  overflow: hidden;
  transition: max-height 0.3s ease, padding 0.3s ease;
}
.mobile_sub.open {
  max-height: 300px;
  padding-top: 8px;
  padding-bottom: 8px;
}
.mobile_sub li a {
  display: block;
  padding: 8px 12px;
  font-size: 1.3rem;
  border-bottom: 1px solid var(--bm);
}
@media (max-width:1024px) {
  #header,
  #header.active {
    top: 0;
    width: 100%;
    border-radius: 0;
    box-shadow: none;
  }
  #header .inner {
    padding: 24px 10px;
  }
  #gnb,
  .user_menu {
    display: none;
  }
  #mobile_btn {
    display: block;
  }
  .mobile_sub {
    background: transparent;
  }
}