@charset 'utf-8';
.intro_wrap {
  display: flex;
  justify-content: space-between;
}
/* .intro_images {
  aspect-ratio: 1;
} */
.intro_images img {
  width: 580px; height: 400px;
  border-radius: 20px;
}
@media (max-width: 768px) {
.intro_images img {
    width: 300px;
  }
}