@charset 'utf-8';
.package_view_more:hover {
  opacity: 0.7;
}
.package_grid_wrapper {
  position: relative;
  margin-top: 30px;
}
.package_grid {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 30px;
  margin-bottom: 8px;
}
.package_card {
  position: relative;
  /* overflow: hidden; */
  aspect-ratio: 1;
  cursor: pointer;
}
.package_card img {
  border-radius: 20px;
}
.package_card::after {
  position: absolute;
  top: 105%;
  left: 50%;
  transform: translateX(-50%);
}
.package_card:nth-of-type(1)::after {
  content: '풀컬러 삼방';
}
.package_card:nth-of-type(2)::after {
  content: '풀컬러 자동롤';
}
.package_card:nth-of-type(3)::after {
  content: '지퍼스탠드';
}
.package_card:nth-of-type(4)::after {
  content: '단상자';
}
.package_image {
  width: 100%;
  height: 100%;
  object-fit: cover;
  transition: transform 0.3s ease;
}
.package_overlay {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(255, 255, 255, 0);
  backdrop-filter: blur(0px);
  border-radius: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
  opacity: 0;
  transition: all 0.3s ease;
}
.package_card:hover .package_overlay {
  opacity: 1;
  background-color: rgba(255, 255, 255, 0.3);
  backdrop-filter: blur(10px);
}
.package_name {
  text-align: center;
}
@media (max-width: 1024px) {
  .package_grid {
    grid-template-columns: repeat(2, 1fr);
  }
  .package_card::after {
    top: 100%;
  }
}
@media (max-width: 768px) {
  .package_header {
    display: inline-block;
  }
  .package_grid {
    grid-template-columns: 1fr;
  }
  .container {
    flex-direction: column;
    align-items: flex-start;
  }
}