@charset 'utf-8';

/* login */
.form_wrap {
  max-width: 1000px;
  margin: 0 auto;
}
.form_wrap .container {
  align-items: flex-end;
  margin-top: 10px;
  border-bottom: 2px solid var(--tm);
}
form {
  margin-top: 20px;
}
.form_row {
  display: flex;
  align-items: center;
  padding: 16px 0;
  margin-bottom: 10px;
  border-bottom: 1px solid #ddd;
}
.form_label {
  width: 180px;
}
.form_field {
  flex: 1;
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  gap: 16px;
}
.form_field>input {
  width: 100%;
  padding: 12px 14px;
  border-bottom: 1px solid var(--bs);
}
.form_field>input:hover {
  border-bottom: 1px solid var(--ts);
}
.form_field label {
  cursor: pointer;
}
.form_row textarea {
  width: 100%;
  height: 140px;
  padding: 15px;
  border: 1px solid var(--bs);
  border-radius: 12px;
  resize: none;
}
.privacy {
  padding: 15px;
  border-radius: 6px;
  font-size: 1.2rem;
  background: var(--bm);
  margin-bottom: 20px;
}
@media (max-width: 1024px) {
  .form_row label {
    width: 150px;
  }
  .form_field label {
    font-size: 1.2rem;
  }
}
@media (max-width: 768px) {
  .form_row {
    flex-direction: column;
    gap: 10px;
  }
  .form_row label {
    width: 100%;
  }
  .form_field {
    width: 100%;
  }
}
#signup_wrap {
  margin-top: 140px;
}









#login_wrap {
  margin-top: 140px;
}

.login_option {
  justify-content: space-between;
  font-size: 1.2rem;
  margin-top: 10px;
}

.login_links a {
  color: var(--ts);
  font-size: 1.2rem;
}

.login_links span {
  margin: 0 6px;
  color: #ccc;
}

.login_join {
  margin-top: 30px;
  text-align: center;
  font-size: 1.2rem;
}

.login_join a {
  display: inline-block;
  margin-top: 6px;
  color: var(--tm);
  font-weight: 600;
}


/* join */

.form_wrap h2 {
  margin-top: 10px;
}

.container p {
  font-size: 1.2rem;
  color: var(--ts);
}

.red {
  color: #c33;
}

/* input 통일감 */
.form_field input {
  background: transparent;
}

/* 버튼 이미 쓰는 스타일 그대로 */
.basic_btn_b {
  margin-top: 30px;
}